#kudos {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./kudos.png);
  background-size: 100%;
  background-position-y: -20px;
}

#kudos:first-child {
  padding: 15px;
}

#title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#title {
  font-size: 30px;
}

#message-tracking-display {
  font-size: 18px;
}

#kudo-container {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

#kudo-float-container {
  width: 300px;
  font-size: 20px;
}

#kudo-message {
  font-style: italic;
}

#kudo-from {
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 1px;
}
