#info {
  background: linear-gradient(
    235.02deg,
    rgba(255, 255, 255, 0) 27.68%,
    #8a6e8c 128.67%
  );
  border-radius: 5px;
  height: 100%;
}

#date {
  padding: 20px;
}

#time {
  padding: 20px;
  font-size: 1.5em;
}
