@import "../../variables.scss";

.foosball-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 5px;
}

.toggle-button {
  position: absolute;
  top: 0;
  right: 10px;
  height: 25px;
  margin: 5px 5px 0 0;
  background-color: #091b29;
  color: #fff;
  font-weight: 700;
  border-radius: 5px;
  z-index: 2; 
  border-color: rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 0 1px #091b29;
}
