$logo-color: #02ffc1;
$base-color: #ffffff;
$banner-color: #ff0f2d;

@keyframes waving {
  0%, 100% {
    transform: rotateX(-20deg) rotateY(-10deg);
    filter: brightness(0.65) contrast(1.5);
  }

  20%, 80% {
    filter: brightness(1) contrast(1);
  }
  
  25%, 75% {
    filter: brightness(1.25) contrast(1);
  }
  
  50% {
    transform: rotateX(20deg) rotateY(10deg);
    filter: brightness(1.5) contrast(1.5);
  }
}

#timesheets-notification {
  transform-style: preserve-3d;
  perspective: 600px;
}

#header-container {
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
  font-size: 38px;
}

#logo-primary {
  color: $logo-color;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 42px;
  top: -5px;
}

#logo-secondary {
  color: $base-color;
  position: absolute;
  font-weight: lighter;
  right: 0px;
  bottom: -14px;
  font-size: 16px;
}

#dateTime {
  align-self: center;
}

#dt-content {
  font-weight: lighter;
}

.vertical-separator {
  font-weight: lighter;
  border-right: 1px solid lightgray;
  margin-left: 30px;
  margin-right: 20px;
}

// Banner
.timesheets-ribbon {
  position: relative;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 18px;
  border-radius: 0px 5px 5px 0px;
  margin-left: 20px;
  background: $banner-color;
  animation: waving 5s infinite;
  transform-origin: right bottom;
}

.timesheets-ribbon::before {
  content: "";
  left: -26px;
  top: 0px;
  position: absolute;
  border-top: 20px solid #ff0f2d;
  border-left: 26px solid transparent;
}

.timesheets-ribbon::after {
  content: "";
  left: -26px;
  bottom: 0px;
  position: absolute;
  border-bottom: 21px solid #ff0f2d;
  border-left: 26px solid transparent;
}

.timesheets-message {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to left, #fff, #faa);
}

@media (min-width: 768px) {
  #header-container {
    grid-template-columns: 220px 1fr auto 0.5fr;
  }
  #timesheets-notification {
    justify-self: end;
  }
  .timesheets-ribbon {
    white-space: nowrap;
  }
}

// Utils
.uppercase {
  text-transform: uppercase;
}
