#photo {
  position: relative;
  height: 100%;
}

.slideshow-container {
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slideshow-photo {
  justify-content: stretch;
  align-content: stretch;
  display: flex;
  height: 100%;
  width: 100%;
}

.slideshow-photo img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  animation: opac 2s ;
  flex: 1 1 100%;
}

.slideshow-notice {
  padding: 12px 8px 4px 10px;
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}