
#rankings-list {
  position: relative;
  width: 100%;
  flex: 1 1 10rem;
  min-height: 10rem;

  &::after {
    content: '';
    display: block;
    background-image: radial-gradient(ellipse 50% 0.5rem at bottom, #000, rgba(0, 0, 0, 0.25), transparent),
                      linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent 1px),
                      radial-gradient(ellipse 50% 0.5rem at top, #000, rgba(0, 0, 0, 0.25), transparent),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent 1px);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 1;
    background-clip: content-box;
  }

  &.top::after {
    background-image: radial-gradient(ellipse 50% 0.5rem at bottom, #000, rgba(0, 0, 0, 0.25), transparent),
                      linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent 1px);
  }

  &.bottom::after {
    background-image: radial-gradient(ellipse 50% 0.5rem at top, #000, rgba(0, 0, 0, 0.25), transparent),
                      linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent 1px);
  }
}

#player-group {
  text-transform: capitalize;
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.125), transparent 3px),
                      linear-gradient(to top, rgba(0, 0, 0, 0.125), transparent 3px),
                      linear-gradient(to right, rgba(255, 255, 255, 0.125), transparent 3px),
                      linear-gradient(to left, rgba(0, 0, 0, 0.125), transparent 3px);

    &:active {
      background-image: none;
    }
  }
}

.ranking-container {
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #394a54;
}

.canvas {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 0;
  left: 0;
  overflow: auto;
  overflow: overlay;
}

.blue-stop-left {
  stop-color: #bbe6fe;
}

.blue-green-stop-left {
  stop-color: #21c8be;
}

.green-stop-right {
  stop-color: #00c620;
}

.white-stop-right {
  stop-color: #ffffff;
}

.green-gradient {
  fill: url(#greenGradient);
}

.blue-gradient {
  fill: url(#blueGradient);
}

.outlined {
  fill: none;
  stroke: url(#mainGradient);
  stroke-width: 4;
}
