.message-container {
  width: 90%;
  margin: 10px;
  padding: 10px;
  background: lightgray;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: left;
  font-size: 12px;
  line-height: 9px;
}

.poster {
  font-weight: bold;
  margin: 3px;
  padding: 3px;
  align-items: flex-end;
}

.message {
  margin: 3px;
  padding: 3px;
  line-height: 14px;
}

.message-date {
  margin: 3px;
  padding: 3px;
  align-items: flex-end;
}
