#photo {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.slideshow-container {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  float: left;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  flex: 1 1 100%;
}

.slideshow-photo {
  flex: 1 1 100%;
  justify-content: stretch;
  align-content: stretch;
  display: flex;
  min-height: 10em;
}

.slideshow-photo img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  animation: opac 2s ;
  flex: 1 1 100%;
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}