#photo {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.slideshow-container {
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  float: left;
  overflow: hidden;
  border-radius: 5px;
  flex-direction: column;
  flex: 1 1 100%;
}

.slideshow-photo {
  /* width: 420px;
  height: 450px; */
  /* background-color: rgba(73, 75, 77, 0.7); */
  flex: 1 1 100%;
  display: flex;
  justify-content: stretch;
  align-content: stretch;
  min-height: 10em;
}

.slideshow-photo img {
  /* max-width: 100%; */
  /* max-height: 400px; */
  opacity: 1;
  transition: opacity .25s ease-in-out;
  animation: opac 2s ;
  flex: 1 1 100%;
}

@keyframes opac {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}