@import "./variables.scss";

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

// NEW
$screen-size: 1060px;
.grid-layout-right {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "main side";
  grid-template-columns: 3fr 1fr;
  grid-template-rows: $screen-size;
}

.grid-layout-left {
  display: grid;
  grid-gap: 20px;
  grid-template-areas: "side main";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: $screen-size;
}

.grid-main {
  grid-area: main;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.stretch {
  grid-column-end: span 2;
}
.grid-main div {
  background: #a0a0a0;
}

.grid-sidebar {
  grid-area: side;

  display: grid;
  grid-gap: 20px;
  grid-template-rows: 5fr 1fr;
}
.grid-sidebar div {
  background: #b0b0b0;
}

.box {
  padding: 20px;
}
