@import "./variables.scss";

$panel-bg: #394a54;
$bg-primary: #091b29;

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  background: $bg-primary;
}

// Default/Small screens (Order matters)
.box {
  overflow: hidden;
  background: $panel-bg;
  text-align: center;
}

#container {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(7, 200px);
}

// Do not show the calendar on mobile devices.
#calendar {
  display: none;
}

// Overrides the defaults
@media screen and (min-width: 1024px) {
  #container {
    display: grid;
    height: calc(1080px - 20px);
    grid-gap: 20px;
    grid-template-rows: 50px repeat(3, 1fr) 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "cal    cal    cal"
      "photo  msgbd  npm"
      "foos   msgbd  kudos"
      "footer footer footer";
  }

  #photo {
    grid-area: photo;
  }

  #header {
    grid-area: header;
  }

  #calendar {
    display: block;
    grid-area: cal;
  }

  #message-board {
    grid-area: msgbd;
  }

  #npm {
    grid-area: npm;
  }

  #kudos {
    grid-area: kudos;
  }

  #foos {
    grid-area: foos;
  }

  #footer {
    grid-area: footer;
  }
}
