@import "./variables.scss";

.wrapper {
  display: grid;
  grid-template-columns: 33% 200px 200px;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  animation: fadeIn ease 2s;
}
