.dashboard-content {
  font-family: 'HelveticaNeue'
}

.conf-schedule-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8em;
  min-width: 5em;
  font-size: 16px;
  font-weight: 800;
  color: #FFFFFF;
  float: right;
  padding-right: .5em;
}

.conf-schedule-col {
  border: 1px solid;
  padding: .2em;
  margin-right: .1em;
  margin-left: .1em;
  height: 2rem;
  flex-wrap: nowrap;
}

.conf-schedule-hours {
  padding-top: 1.5em;
  padding-right: .2em;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.calendar-content {
  width: 100%;
  table-layout: fixed;
}

.conf-schedule-hour {
  white-space: nowrap;
}

.conf-shedule-hour-span {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 14px;
  float:left;
}

.conf-schedule-meetings {
  padding-top: .1em;
}

.conf-room-meeting-busy {
  font-size: x-small;
  background: rgb(50,109,152);
  height: 1.2em;
  color: aliceblue;
}
.conf-room-meeting-free {
  font-size: x-small;
  background: #F4F9FF;
  border-right: 1px #FFFFFF;
  height: 1.2em;
  padding: 0;
}

table {
  border-spacing: 0 4px;
  width: 100%;
  table-layout: fixed;
}

th {
  padding: 0;
}

.first-header-col {
  width: 5em;
}

td {
  height: 2em;
}

.border-col {
  border-right: 1px solid #FFFFFF;
}

.name-col { 
  width: auto;
}

.red-busy {
  background-color: #FFE4E6;
}

.green-busy {
  background-color: #E0FBE0;
}

.yellow-busy {
  background-color: #FFF7E3;
}

.blue-busy {
  background-color: #E6E4FF;
}

.busy-rect {
  height: 80%;
}

.name-div {
  font-weight: 100;
  text-align: left;
  padding-left: .5em;
  font-size: 14px;
  color: #000000;
}