.dashboard-content {
  font-family: 'HelveticaNeue'
}

.conf-schedule-names {
  /* background: black; */
  /* display: flex; */
  /* flex-basis: 0; */
  /* flex-grow: 1; */
  /* flex: 1 1 100%; */
  /* flex-wrap: nowrap; */
  /* float: left; */
  /* width: 100%; */
}

/* .conf-schedule-content {
  display: flex;
  flex-direction: column;
} */

.conf-schedule-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 8em;
  font-size: 16px;
  font-weight: 800;
  padding-bottom: 1.4em;
  color: #FFFFFF;
}

.conf-schedule-col {
  border: 1px solid;
  padding: .2em;
  margin-right: .1em;
  margin-left: .1em;
  height: 2rem;
  flex-wrap: nowrap;
}

.conf-schedule-hours {
  padding-top: 1.5em;
  padding-right: .2em;
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
}

.calendar-content {
  width: 100%;
}

.conf-schedule-hour {
  margin-top: .3em;
  white-space: nowrap;
  /* justify-content: space-evenly;  */
  height: 1.2em;
  color: #FFFFFF;
  font-weight: 100;
  font-size: 12px;
}

.conf-schedule-meetings {
  padding-top: .1em;
}

.conf-room-meeting-busy {
  font-size: x-small;
  background: rgb(50,109,152);
  height: 1.2em;
  color: aliceblue;
}
.conf-room-meeting-free {
  font-size: x-small;
  background: #888888;
  border-right: 1px #FFFFFF;
  height: 1.2em;
}

/* .spacer {
  height: 2rem;
} */

table {
  border-spacing: 0 2px;
  /* table-layout: fixed; */
}

.border-col {
  border-right: 1px solid #FFFFFF;
}

.name-col { 
  width: auto;
}