$logo-color: #02ffc1;
$base-color: #ffffff;

#header-container {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
}

#logo-primary {
  color: $logo-color;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
}

#logo-secondary {
  color: $base-color;
  position: absolute;
  font-weight: lighter;
  right: 0px;
  bottom: -8px;
  font-size: 12px;
}

#dateTime div {
  display: inline-block;
  vertical-align: middle;
}

#date {
  font-weight: bold;
}

#time {
  font-weight: lighter;
}

.vertical-separator {
  font-weight: lighter;
  border-right: 1px solid white;
  width: 0px;
  height: 1em;
  margin: 0px 10px 0px 15px;
}
