$logo-color: #02ffc1;
$base-color: #ffffff;
$banner-color: #ff0f2d;

#header-container {
  display: grid;
  align-items: center;
  grid-template-columns: 400px auto 400px;
}

#logo-primary {
  color: $logo-color;
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 32px;
}

#logo-secondary {
  color: $base-color;
  position: absolute;
  font-weight: lighter;
  right: 0px;
  bottom: -8px;
  font-size: 12px;
}

#dateTime {
  align-self: center;
}

#dt-content {
  font-weight: lighter;
}

.vertical-separator {
  font-weight: lighter;
  border-right: 1px solid white;
  margin: 0px 10px 0px 15px;
}

#timesheets-notification {
  justify-self: end;
}

// Banner
.timesheets-ribbon {
  position: relative;
  padding: 10px;
  font-size: 14px;
  border-radius: 0px 5px 5px 0px;
  background: $banner-color;
}

.timesheets-ribbon::before {
  content: "";
  left: -26px;
  top: 0px;
  position: absolute;
  border-top: 18px solid $banner-color;
  border-bottom: 18px solid $banner-color;
  border-left: 26px solid transparent;
}

// Utils
.uppercase {
  text-transform: uppercase;
}
